/* stylesheet */


body {background-image: linear-gradient(to right, #e9e8e0, #ffb5a6); color: #2f4246; font-family: Arapey, serif;}

h1 {color: #132637; font-family: Zilla Slab,serif}
h2 {font-style: italic;}
h3 {font-family: Zilla Slab,serif}

p {display: flex; width: 40%;}

.rhymes {
    display: flex; width: 70%;
}

.flex-container {
    display: flex;
}

.lyric_box, .lyric_button {
    font-size: 20px;
    font-family: Arapey, serif;
}
