<h1>PostMaLyrics: a professional service for rappers who mean business</h1>

<h2><i>"I don't even listen to rap. My apartment is too nice" -Kanye West</i></h2>

{% load static %}
<img src="{% static "kanye_thinking.jpg" %}" alt="My image">
<form action="." method="post"> 
    {% csrf_token %}
    <input type="text" name="lyric" id="input_lyric" placeholder="lyric">
    <input type="submit" name="search lyrics" value="search lyrics" id="search_lyrics" class="button_drop outline">
</form>    
{% if output %}<h3>{{ output }}</h3>{% endif %}

{% if not kanye.empty %}<h3> Kanye recommends:<br></h3>
    <table>
        {% for line in kanye %}
        <tr> 
            <td>{{ line }}</td>
        </tr>
        {% endfor %}
    </table>{% endif %}


<img src="kanye_thinking.jpg">