<h1>PostMaLyrics: a professional service for rappers who mean business</h1>

<h2><i>"I don't even listen to rap. My apartment is too nice" -Kanye West</i></h2>

{% load static %}
<img src="{% static "kanye_thinking.jpg" %}" alt="My image">
<form action="." method="post"> 
    {% csrf_token %}
    <input type="text" name="lyric" id="input_lyric" placeholder="lyric">
    <input type="submit" name="search lyrics" value="search lyrics" id="search_lyrics" class="button_drop outline">
</form>    
{% if rhymes %}<h3>classic rhymes</h3>
    {% for word in rhymes %}
        {{ word }},
    {% endfor %}
{% endif %}


{% if not kanye.empty %}<h3> Kanye recommends:</h3>
    <table>
        {% for line in kanye %}
        <tr> 
            <td>{{ line }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

