<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />  
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arapey&display=swap" rel="stylesheet">
</head>

<body>

<h1>PostMaLyrics: a professional service for rappers who mean business</h1>

{% load static %}

<form action="." method="post"> 
    {% csrf_token %}
    <input type="text" name="lyric" id="input_lyric" placeholder="lyric" class = "lyric_box">
    <input type="submit" name="search lyrics" value="search lyrics" id="search_lyrics" class="button_drop outline lyric_button">
</form>  

{% if placeholder %}
<div class = "wrapper">
<div class="flex-container row1">
    <img src="{% static "how_to_hack.png" %}" >
    <img src="{% static "how_to_be_woman.png" %}" >
    <img src="{% static "how_to_hack.png" %}" >
</div>
</div>
<div class = "wrapper">
<div class="flex-container row2">
    <img src="{% static "how_to_be_cool.png" %}" >
    <img src="{% static "how_to_make_friends.png" %}" >
    <img src="{% static "how_to_relax.png" %}" >
</div>
</div>
{% else %}

    {% if rhymes %}<h3>classic rhymes</h3>
    <p1 class="rhymes">{% for word in rhymes %}
            {{ word }},
        {% endfor %}
        </p1> 
    {% endif %}


    <div class="flex-container row1">


    <div>
    <h3> Nicki's notes:</h3>
    <div class="hexa">
        <div class="hex1">
        <div class="hex2">
            <img src="{% static "nicki_green.png" %}" alt="Nicki" class = "hex_face"/>
        </div>
        </div>
    </div>
    </div>
    {% if nicki.any %}
        <table>
            {% for line in nicki %}
            <tr> 
                <td>{{ line }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <table><tr><td><i>"looks like i'm going for a swim"</i></td></tr></table>
    {% endif %}

    {% if kanye.any %}
        <table>
            {% for line in kanye %}
            <tr> 
                <td>{{ line }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <table><tr><td><i>"I don't even listen to rap. My apartment is too nice" -Kanye West"</i></td></td></tr></table>
    {% endif %}

    <div>
    <h3> Kanye counsels:</h3>
    <div class="hexa">
        <div class="hex1">
        <div class="hex2">
            <img src="{% static "kanye_green.png" %}" alt="Ye" class = "hex_face"/>
        </div>
        </div>
    </div>
    </div>
    </div>


    <div class="flex-container row2">
    <div>
    <h3> Posty proposes:</h3>

    <div class="hexa">
        <div class="hex1">
        <div class="hex2">
            <img src="{% static "posty_green.png" %}" alt="Posty" class = "hex_face"/>
        </div>
        </div>
    </div>
    </div>
    {% if postie.any %}
        <table>
            {% for line in postie %}
            <tr> 
                <td>{{ line }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <table><tr><td><i>"canada POST"</i></td></tr></table>
    {% endif %}


    {% if mia.any %}
        <table >
            {% for line in mia %}
            <tr> 
                <td>{{ line }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <table><tr><td>"guns guns guns and english swag"</td></tr></table>
    {% endif %}

    <div>
        <h3> M.I.A insists:</h3>
        <div class="hexa">
            <div class="hex1">
                <div class="hex2">
                <img src="{% static "mia_green.png" %}" alt="MIA" class = "hex_face"/>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endif %}

</body>
</html>